## To begin i will assess the raw data and get a feel for where my data is on inital import.

In [6]:
#import pandas to read txt files 
import pandas as pd
df = pd.read_csv('anonymized-curriculum-access.txt', sep= ' ', names=['date', 'time', 'web_link', 'number', 'number_two', 'ip' ])

In [13]:
df['timestamp'] = df['date'] + ' '+ df['time']
df.drop(columns=['date', 'time'], inplace= True)

In [16]:
df.columns

Index(['web_link', 'number', 'number_two', 'ip', 'timestamp'], dtype='object')

In [17]:
new_order = ['ip', 'number', 'number_two',  'timestamp', 'web_link']

# use the reindex method to reorder the columns
df = df.reindex(columns=new_order)

In [19]:
df.set_index('timestamp').sort_index()

,ip,number,number_two,web_link
timestamp,,,,
2018-01-26 09:55:03,97.105.19.61,1,8.0,/
2018-01-26 09:56:02,97.105.19.61,1,8.0,java-ii
2018-01-26 09:56:05,97.105.19.61,1,8.0,java-ii/object-oriented-programming
2018-01-26 09:56:06,97.105.19.61,1,8.0,slides/object_oriented_programming
2018-01-26 09:56:24,97.105.19.61,2,22.0,javascript-i/conditionals
...,...,...,...,...
2021-04-21 16:41:51,71.150.217.33,64,28.0,jquery/personal-site
2021-04-21 16:42:02,71.150.217.33,64,28.0,jquery/mapbox-api
2021-04-21 16:42:09,71.150.217.33,64,28.0,jquery/ajax/weather-map
2021-04-21 16:44:37,24.160.137.86,744,28.0,anomaly-detection/discrete-probabilistic-methods
2021-04-21 16:44:39,71.150.217.33,64,28.0,jquery/mapbox-api

In [53]:
def acquire_data():
    df = pd.read_csv('anonymized-curriculum-access.txt', sep= ' ', names=['date', 'time', 'web_link', 'number', 'number_two', 'ip' ])
    df['timestamp'] = df['date'] + ' '+ df['time']
    df.drop(columns=['date', 'time'], inplace= True)
    ew_order = ['ip', 'number', 'number_two',  'timestamp', 'web_link']

    # use the reindex method to reorder the columns
    df = df.reindex(columns=new_order)
    df['timestamp'] = pd.to_datetime(df['timestamp'])
    df = df.set_index('timestamp').sort_index()
    return df

In [54]:
df =  acquire_data()

In [25]:
# How many unique ip addresses are there?

In [ ]:
df.ip.nunique()

5531

In [56]:
df.index.day_name()

Index(['Friday', 'Friday', 'Friday', 'Friday', 'Friday', 'Friday', 'Friday',
       'Friday', 'Friday', 'Friday',
       ...
       'Wednesday', 'Wednesday', 'Wednesday', 'Wednesday', 'Wednesday',
       'Wednesday', 'Wednesday', 'Wednesday', 'Wednesday', 'Wednesday'],
      dtype='object', name='timestamp', length=900223)